body {
  background: #2F363D;
}
#root {
  border: 0;
}
#header,
#description,
#overview,
#quotes {
  margin: 0;
}
#header {
  background: #445569;
  border-color: #445569;
}
#header .ui.large.menu .header.item {
  border-right: none;
}
.ui.basic.segment:not(.secondary) {
  background: white;
}
.jumbo .header {
  color: white;
}
.jumbo .jumbo {
  padding: 100px 0;
}
pre,
code {
  margin: 0;
}
#tabs .ui.secondary.pointing.menu {
  border-bottom: none;
}
.odd .feature {
  padding-right: 3em;
}
.even .feature {
  padding-left: 3em;
}
.feature {
  padding-top: 3em;
  padding-bottom: 3em;
}
.feature p {
  font-size: 1.3em;
  line-height: 1.5em;
}
