@import "mixins";
@import "variables";
@import "foundation";


html,
body {
	height: 100%;

}


#header {
}

#root {

}

#content {
	@include grid-row();
}

#footer {
	@include grid-row();
	p {
		@include grid-column(12);
	}
}

.jumbo {
	@include grid-row();
	.heading,
	.sub-heading {
		color:white;
		@include grid-column(12);
	}
}

.blurred {
	background-position: bottom center, center;
	background-size:100% 10px, auto;
	padding-top:60px;
	margin-bottom: 20px;
}


.blurred .container{
	position:relative;
}

.heading,
.sub-heading {
	font-family: 'Roboto', sans-serif;
	font-weight:300; 
}

/*
.heading {
	font-size:3em;
	line-height:1.5em;
}

.sub-heading {
	font-size:1.5em;
	line-height:1.5em;
}
*/

.phone {
	position:absolute;
	right:0px;
	top:0px;
}

.product-desc {
	@include grid-row();
	div:first-child {
		@include grid-column(8);
	}
	div:last-child {
		@include grid-column(4);
		text-align: center;
		margin-top: 50px;
	}
}

.product-quotes {
	@include grid-row();


	p {
		@include grid-column(4);
		text-align: center;
		font-style: italic;
	}
	p:before {
		background: url(/images/opening-quote.png) center no-repeat;
		padding: 5px 8px;
		content: " ";
		height: 20px;
	}
	p:after {
		background: url(/images/closing-quote.png) center no-repeat;
		padding: 5px 8px;
		content: " ";
		height: 20px;
	}
}