<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="index">
        <div id="root">
            {% include menu.html %}
            <div id="header">
                <div class="blurred">
                    <div class="jumbo">
                        <h1 class="heading">We are a mobile games studio at Lyon, France.</h1>
                        <p class="sub-heading"></p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
