<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="index">
        <div id="root">
            {% include menu.html %}
            <div id="header">
                <div class="blurred">
                    <div class="jumbo">
                        <h1 class="heading">{{ page.heading }}</h1>
                        <p class="sub-heading">{{ page.sub_heading }}</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
		    <div class="product-desc">
		        <div>
		        	<h3>{{ page.name }}</h3>
		            {{ content }}
		        </div>
		        <div>
		            <a href="https://play.google.com/store/apps/details?id=com.eowise.cityevolution">
		              <img alt="Get it on Google Play"
		                   src="https://developer.android.com/images/brand/fr_generic_rgb_wo_60.png" />
		            </a>
		        </div>
		    </div>
		    <div class="row">
		        <div class="small-12 columns">
		            <h4>Overview</h4>
		        </div>
		  		{% for feature in page.overview %}
		  		<p>{{ feature.title }}</p>
		        <p>{{ feature.text }}</p>
		        {% endfor %}
		    </div>
		    <div class="product-quotes">
		        <div class="small-12 columns">
		            <h4>Quotes</h4>
		        </div>
		        {% for quote in page.quotes %}
		        <p>{{ quote }}</p>
		        {% endfor %}
		    </div>
        </div>
        {% include footer.html %}
    </body>
</html>
